body{
    height: 100%;
    width: 100%;
	margin: 0;
	padding: 0;
    background: #1A1A1D;

}

.navigation{
    font: normal 16px/1.5 "Helvetica Neue", sans-serif;
	z-index: 20;
	width: 100%;
	top: 0%;
	position: absolute;
	display: flex;
	align-items: center;
}

.logo{
	width: 10%;
	display: flex;
	align-items: center;

}

.logotype{
	max-width: 70px;
	margin-left: 30%;
}

.navmenu{
    width: 1920px;
}

.menu{
    display: flex;
    justify-content: center;
    list-style: none;
    
    text-align: center;
}


.navitem{
    padding: 10px 150px 0 0;
}

.navlink{
    text-decoration: none;
    color: #E5E5E5;
    font-size: 20px;
    border-bottom: 1px solid transparent;
    transition: .3s;
    font-weight: bold;
    text-align: justify;
}


.navlink:hover{
    border-bottom: 1px solid #E5E5E5;
}

.box{
    width: 1920px;
    height: 900px;
}

.box .view {
    position: absolute;
    width: 1920px;
    height: 900px;
    top: 0;
    left: 0;
}   

.owerlapgroup {
    position: absolute;
    width: 1920px;
    height: 900px;
    color: #E5E5E5;
}
.textstory{
    width: 1788px;
    top: 130px;
    left: 66px;
    font-family: "Caveat";
    font-size: 35px;
    text-align: justify;
    line-height: 35px;
    position: absolute;
    font-weight: 400;
    letter-spacing: 0;
}




@font-face{
    font-family: "Caveat"; 
    src: url("../fonts/Caveat/Caveat.ttf"); 
  } 